# Byte-compiled
__pycache__/
*/__pycache__/*
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.history
*/41467_2017_1741_MOESM4_ESM.mp4
day1/41467_2017_1741_MOESM4_ESM.mp4
day2
day3
slides/QCBio_W17_ML_w_Python_Day2.pdf
slides/QCBio_W17_ML_w_Python_Day3.pdf